@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Orbitron&display=swap');
body {
    background: #000;
}

main {
    min-height: 100vh;
}

.fecha {
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    letter-spacing: 0.1em;
}

.hora {
    color: white;
    font-family: 'Londrina Outline', cursive;
    font-size: 4em;
    letter-spacing: 0.1em;
}


/* efecto neon */

.green {
    text-shadow: 0 0 10px #7bffce, 0 0 20px #7bffce, 0 0 40px #7bffce, 0 0 60px #7bffce, 0 0 80px #7bffce;
}

.blue {
    text-shadow: 0 0 10px #7bacff, 0 0 20px #7bacff, 0 0 40px #7bacff, 0 0 60px #7bacff, 0 0 80px #7bacff;
}

.pink {
    text-shadow: 0 0 10px #ff7bac, 0 0 20px #ff7bac, 0 0 40px #ff7bac, 0 0 60px #ff7bac, 0 0 80px #ff7bac;
}


/* botones */

.boton {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.btngreen {
    background: #7bffce;
}

.btnblue {
    background: #7bacff;
}

.btnpink {
    background: #ff7bac;
}